* {
  box-sizing: border-box;
}

header{

  background-color: #000;
  color: #fff;
  text-align: center;

}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}

nav ul {
  display: flex;
  color:#fff;
  list-style: none;
}

nav ul li a:link,
nav ul li a:visited {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0 1em 0 1em;

}


.wrapper {
  max-width: 940px;
  margin: 0 auto;

}

#hero {

  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/hands-typing.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(70%); 
  
}

h1 {
  max-width: 60%;
  background-color: rgba(0, 0 , 0, 50%);
  padding: 1em;
  color: #fff;
  text-shadow: -4px 2px 1px black; 

}

#about-me .wrapper {
  display: flex;
  align-content: space-around;
}

#about-me h2 {
  margin: 0;
  padding-top: 1em;
}

.text-girl {
  align-self: center;
}

.girl {
  align-self: flex-end;
  width: 30%;
  height: 30%;
}


#services {
  padding: 2em;
  background-color: #fafafa;
}

#services h2 {

  margin-top: 0;
  text-align: center;
}

#services h3 {
  margin: 0;
}

#services div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;

}


#services article {
  
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em;
}

.btn {
  background-color: black;
  border-color: black;
  border: 3px solid black;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  width: 50%;
}




.btn:hover,
.btn:focus { 
  background: white;
  color: black;
}


#work {
  margin: 0 auto;
  max-width: 940px;
  padding: 2em;
}

#work .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;

  grid-template-areas: 
  "div1 div1 div1 div2 div2 div2"
  "div3 div3 div4 div4 div5 div5"
}

#work  {
  text-align: center;
}

#work img:nth-child(1) {
  grid-area: div1;
  width: 100%;
  height: 100%;
}

#work img:nth-child(2) {
  grid-area: div2;
  width: 100%;
  height: 100%;
}

#work img:nth-child(3) {
  grid-area: div3;
  width: 100%;
  height: 100%;
}

#work img:nth-child(4) {
  grid-area: div4;
  width: 100%;
  height: 100%;
}

#work img:nth-child(5) {
  grid-area: div5;
  width: 100%;
  height: 100%;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 1em;
}
